header {
  margin: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Layout */
.flex-row,
.flex-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

/* Header Buttons */
header nav [role="button"], summary[role=button] {
  padding: 0.2rem 0.6rem;
}

nav > ul > div {
  margin-right: 0.3rem;
}

/* Register & Login buttons */
[role="button"] {
  padding: 0;
}

[role="button"] a {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
  padding: var(--pico-form-element-spacing-vertical) var(--pico-form-element-spacing-horizontal);
}

.error {
  color: rgb(217, 53, 38);
}

.success {
  color: rgb(60, 113, 247);
}

article {
  text-align: center;
  width: 100%;
  margin: 0;
}

a {
  --pico-text-decoration: none;
}

fieldset[role=group] {
  box-shadow: none;
}

.room .info {
  margin-top: 1rem;
}

#blue-bar {
  height: 50px;
  background-color: #405d9b;
  color: #d9dfeb;
}

/* Profile Management Styles */
/*
body {
  background: #f5f5f5;
  margin-top: 20px;
}

.ui-w-80 {
  width: 80px !important;
  height: auto;
}

.btn-default {
  border-color: rgba(24, 28, 33, 0.1);
  background: rgba(0, 0, 0, 0);
  color: #4E5155;
}

label.btn {
  margin-bottom: 0;
}

.btn-outline-primary {
  border-color: #26B4FF;
  background: transparent;
  color: #26B4FF;
}

.btn {
  cursor: pointer;
}

.text-light {
  color: #babbbc !important;
}

.btn-facebook {
  border-color: rgba(0, 0, 0, 0);
  background: #3B5998;
  color: #fff;
}

.btn-instagram {
  border-color: rgba(0, 0, 0, 0);
  background: #000;
  color: #fff;
}

.card {
  background-clip: padding-box;
  box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
  overflow: hidden;
}

.account-settings-fileinput {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.account-settings-links .list-group-item.active {
  font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
  background: transparent !important;
}

.account-settings-multiselect~.select2-container {
  width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
  color: #4E5155 !important;
}

.material-style .account-settings-links .list-group-item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
  color: #4E5155 !important;
}

.dark-style .account-settings-links .list-group-item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
  color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
  color: #4E5155 !important;
}
*/
/* Pannelleum Text Color */
.pnlm-load-button p {
  color: white;
}

/* Classes */
.dept-cards {
  gap: 1rem;
}

.pfp {
  aspect-ratio: 1;
  border-radius: 50%;
}

.grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* Rooms Cards */
.grid article {
  margin: 0;
  width: 100%;
}

/* Cards Hover */
section a:has(article):hover {
  text-decoration: none;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.267);
}