/* Header */
header {
  margin: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin-bottom: 4rem;
}

header > hgroup {
  margin-right: 1rem;
}

hgroup h1, hgroup p {
  margin: 0;
}

hgroup .pfp {
  width: 3rem;
}

hgroup h1 {
  margin-bottom: 5px;
}

/* Layout */
.flex-row,
.flex-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

/* Header Buttons */
header nav [role="button"], summary[role=button] {
  padding: 0.2rem 0.6rem;
}

nav > ul > div {
  margin-right: 0.3rem;
}

/* Register & Login buttons */
[role="button"] {
  padding: 0;
}

[role="button"] a {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
  padding: var(--pico-form-element-spacing-vertical) var(--pico-form-element-spacing-horizontal);
}

.error {
  color: rgb(217, 53, 38);
}

.success {
  color: rgb(60, 113, 247);
}

article {
  text-align: center;
  width: 100%;
  margin: 0;
}

a {
  --pico-text-decoration: none;
}

fieldset[role=group] {
  box-shadow: none;
}

fieldset[role=group] > [type=submit] {
  min-width: fit-content;
  max-width: 165px;
}

/* Profile */
.profile-form-container {
  width: 100%;
  gap: 4rem;
  justify-content: space-between;
  align-items: flex-start;
}

.profile-form-container > * {
  width: 100%;
}

.profile-form-container > :first-child {
  flex-grow: 2;
}

.room .info {
  margin-top: 4rem;
}

.pfp-btns {
  gap: 5px;
}

.pfp-btns > :first-child {
  border: var(--pico-border-width) solid red;
  background-color: red;
  width: min-content;
  transition: background-color var(--pico-transition);
}

.pfp-btns > :first-child:hover {
  border: var(--pico-border-width) solid rgb(190, 0, 0);
  background-color: rgb(190, 0, 0);
}

.pfp-btns > * {
  padding: 0.5rem 1rem;
}

.pfp-container {
  justify-content: flex-start;
  align-items: flex-start;
}

.pfp-controls {
  justify-content: flex-start;
  align-items: flex-start;
}

/* Pannelleum Text Color */
.pnlm-load-button p {
  color: white;
}

/* Classes */
.dept-cards {
  gap: 1rem;
}

.pfp {
  aspect-ratio: 1;
  object-fit: cover;
  width: 7rem;
  border-radius: 50%;

  margin-right: 1rem;
}

.grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* Rooms Cards */
.grid article {
  margin: 0;
  width: 100%;
}

/* Cards Hover */
section a:has(article):hover {
  text-decoration: none;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.267);
}


/* Media Queries */
@media (min-width: 1280px) {
  .profile-form-container > * {
    width: auto;
  }
}